In [2]:
print('Hello world!')

Hello world

## Variables

### String

In [2]:
a = "Sally" # x is now of type str - Text Type

### Intiger

In [3]:
b = 4 # x is of type int - Numeric Type

### Float

In [4]:
c = 20.5 # x is of type float - Numeric Type

### Booleon

In [5]:
d = True # x is True or False

### List

In [10]:
e= ["apple", "banana", "cherry"]

In [11]:
e[0]

'apple'

In [12]:
e[-1]

'cherry'

In [13]:
e[1:3]

['banana', 'cherry']

In [14]:
e[:3]

['apple', 'banana', 'cherry']

In [15]:
e.append('peach')
e[:]

['apple', 'banana', 'cherry', 'peach']

In [17]:
new_list=['orange']
bigger_list=new_list + e
print(bigger_list)

['orange', 'apple', 'banana', 'cherry', 'peach']

### Set

In [20]:
my_list = [1, 1, 1, 2]
my_set = set(my_list)

my_set

{1, 2}

### Tuple

In [21]:
f = (0, 1, 2) 
#Tuples are defined by enclosing the elements in parentheses (()) 
#instead of square brackets ([]) AND are immutable.
print(f)
type(f)

(0, 1, 2)

tuple

In [26]:
f[0]

0

Usefull functions

In [22]:
x = int(1)    # x will be 1
x = float(1)  # x will be 1.0
x = str("s1") # x will be 's1'
x = set(1)

In [8]:
len(e)

3

In [9]:
type(f)

tuple

In [25]:
x = set([1,2])